[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/classic-martinb"]
	path = .themes/classic-martinb
	url = git://github.com/fapper/classic-martinb.git
